#roig:hover {
    color: red;
}

#taronja:hover{
    color: orange
}

#groc:hover{
    color: yellow;
}

#verd:hover{
    color: green;
}

#blauc:hover{
    color: lightblue;
}

#blau:hover{
    color: blue;
}
#morat:hover{
    color: purple;
}